@media (min-width:768px) {
    body {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    .sidebar.fixed-left {
        width: 150px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}


.logo {
    padding: 35px;
}

.navbar {
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(204, 208, 219, 0.50);
}

/* 
.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
} */

.nav-link.h6 {
    color: #3C4469;
    font-size: 10px;
    font-weight: 500;
}

.nav-item.a {
    border-radius: 8px;
    background: linear-gradient(135deg, #D17E06 38.54%, #2F4CDD 100%);
}

.activetxt {
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.438px;
}

.inactivetxt {
    color: #3C4469;
    font-weight: 500;
    letter-spacing: 0.438px;
}

@media (min-width:768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 145px;
        flex-flow: column nowrap;
        align-items: flex-start;
        height: 100%;
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }
}

@media (min-width:768px) {
    .navbar.fixed-left {
        right: auto
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%
    }
}


/* Media Queriess  Start*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        padding: 0px !important;
        padding-left: 15px !important;
    }

    .sidebar-layout {
        display: list-item;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}