.card-Head{
    color: #1E3A56;
    font-size: 18px;
    font-weight:600;
}
.card-subHead{
    color: #B0CAD1;
    font-size: 16px;
}
.card-Prize{
    color: #F75757;
    font-size: 18px;
    font-weight: bold;
}
.AddCart-btn{
    color: #D17E06;
    border: 1px solid #D17E06;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}
