.dynamic-sub-menu {
    position: absolute;
    top: 6%;
    left: 12%;
    background: linear-gradient(135deg, #D17E06 38.54%, #2F4CDD 100%) !important;
    width: 200px;
    padding: 10px;
    list-style: none;
    display: none;
    z-index: 1;
  }
  
  .dynamic-sub-menu.open {
    display: block;
  }
  
  .dynamic-sub-menu ul {
    padding: 0;
  }
  
  .dynamic-sub-menu li {
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }
  
  .dynamic-sub-menu li:hover {
    text-decoration: underline;
  }
  