.tagfont {
    color: #FFF;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    border-radius: 0px 5px 5px 0px;
    background: #D17E06;
    position: absolute;
    padding: 4px 15px;
    margin-top: 10px;
}

.menu-item-card {
    border: 1px solid #d2cfcfbc;
    border-radius: 15px;
    max-height: 408px;
}

.min-top {
    margin-top: 35px;
}

.ItemName {
    color: #3F3F3F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.IMG-BG {
    border-radius: 15px 15px 0px 0px;
    background: #EFEFEF;
}

.main-color {
    background: #FFF;
    border-radius: 0px 0px 15px 15px;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1024px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}