.subbtn {
    border: 1px solid #d17e06;
    background: #d17e06;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.chfile {
    font-size: 18px;
    font-weight: 500;
}