.locationbox {
    position: absolute;
    right: 30px;
    border: 5px solid #fff;
    background: none;
    border-radius: 40px;
    top: 133px;
    background-color: #D17E06;
    padding: 10px;
}

.locbox {
    border-radius: 8px;
    background: #C4C4C4;
    padding: 6px 96px 6px 22px;
}

.Delivr {
    color: #3E4954;
    font-size: 14px;
    font-weight: 600;
}

.delivrloc {
    color: #3E4954;
    font-size: 12px;
    font-weight: 400;
}



/* Media Queriess  Start*/
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {
    .locbox {
        padding: 6px 85px 0px 20px;
    }

    .maon-BG {
        display: flex !important;
    }

    .nav {
        flex-wrap: initial !important;
    }

    .inline {
        display: inline !important;
    }

    .pad-t {
        padding-top: 15px;
    }

    .flx-strt-mbl {
        display: flex;
        justify-content: flex-start;
    }

    .locationbox {
        right: 35px;
        top: 188px;
    }
}

@media only screen and (width: 600px) {
    .maon-BG {
        display: flex !important;
    }

    .nav {
        flex-wrap: initial !important;
    }

    .inline {
        display: inline !important;
    }

    .pad-t {
        padding-top: 15px;
    }

    .flx-strt-mbl {
        display: flex;
        justify-content: flex-start;
    }

    .locationbox {
        right: 14px;
        top: 190px;
    }

    .locbox {
        padding: 6px 135px 6px 22px;
    }

    .w-25 {
        width: 100% !important;
    }

    .w-75 {
        width: 85% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .maon-BG {
        display: flex !important;
    }

    .nav {
        flex-wrap: initial !important;
    }

    .inline {
        display: inline !important;
    }

    .pad-t {
        padding-top: 15px;
    }

    .flx-strt-mbl {
        display: flex;
        justify-content: flex-start;
    }

    .locationbox {
        right: 14px;
        top: 190px;
    }

    .locbox {
        padding: 6px 135px 6px 22px;
    }

}

/* Medium devices (landscape tablets, 1024px and up) */
@media screen and (max-width: 1024px) and (max-height: 1024px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}