.Heads {
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.SilverHeads {
  color: #969ba0;
  font-size: 18px;
}

.card-text {
  color: #0f0f0f;
  font-size: 40px;
  font-weight: 600;
}

.card-title {
  color: #3E4954;
  font-size: 16px;
  font-weight: 500;
}

.card {
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.DashIcon {
  width: 125%;
}

.decor_n {
  text-decoration: none;
}

.miniLabels {
  font-size: 18px;
  color: #828282;
  font-weight: bold;
}

.Summary-label {
  font-size: 20px;
  color: #000;
}

.Summary-mini {
  color: #969ba0;
  font-size: 12px;
}

.count-itself {
  color: #ffff;
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
}

.bg-counts {
  background-color: #2bc155;
  border-radius: 10px;
}

.bg-main-count {
  background-color: #e9ffef;
}

.ord-in-que {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.green-mini {
  color: #2bc155;
  font-size: 16px;
}

.end-center {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.arrow-right {
  padding-left: 20px;
}

.summary-head {
  color: #3e4954;
  font-size: 32px;
  font-weight: bold;
}

.summary-para {
  color: #969ba0;
  font-size: 18px;
}

.progress-bar {
  width: 55%;
}

.progress-barC {
  width: 7%;
}

.progress-barP {
  width: 35%;
}

.search-icon {
  position: absolute;
  right: 0;
  padding: 7px;
  display: flex;
  margin-right: 10px;
}

.border-none {
  border: 1px solid #ebebeb !important;
}

.category-item {
  border: none;
  font-size: 16px;
  background: none !important;
  color: #2C2F24;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.category-head {
  font-size: 23px;
  font-weight: 500;
}

.bg-orange {
  background-color: rgb(255, 109, 76);
}

.bg-main {
  background-image: url('../../assets/images/svgIcons/bgMain.svg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
}

.inner-body {
  background-color: #fff;
  border-radius: 14px;
  text-align: center;
  justify-content: center;
}

.button {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

.button.active {
  border: none;
  background-color: #D17E06;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;

}

.letsGo-btn {
  background-color: #D17E06;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}


.linear-box {
  border-radius: 26px;
  background: linear-gradient(156deg, #d17e06 15.63%, #2f4cdd 116.26%);
  color: #fff;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.w-40 {
  width: 30%;
}


.card-radious {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 12px 23px 0px rgba(62, 73, 84, 0.12);
}