/* 
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #fff;
  color: #D17E06;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  padding-left: 50px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 18px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #3C4469;
  padding: 10px 15px;
  gap: 18px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  color: #D17E06;
  transition: all 0.5s;
  background-color: #fff;
}
.active{
  background: #fff;
  color: #D17E06;
  border-left: 4px solid #D17E06;
}
.icon, .link_text{
  font-size: 18px;
}
.sidebar .a .icon {
  margin-left: 50px;
} */