.filter {
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    background: #FDFDFD;
    width: 56px;
    box-shadow: 0px 4px 4px -2px rgba(209, 126, 6, 0.80);
}

.tHead {
    font-size: 18px;
    font-weight: 500;
}

.status-btn {
    padding: 10px 16px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: rgba(255, 109, 77, 0.10);
    color: #FF6D4D;
    font-weight: 500;
}

.status-delivery {
    padding: 10px 16px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: rgba(47, 76, 221, 0.04);
    color: #2F4CDD;
    font-size: 16px;
    font-weight: 500;
}

.status-delivered {
    padding: 10px 16px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: rgba(43, 193, 85, 0.05);
    color: #2BC155;
    font-size: 16px;
    font-weight: 500;
}

.table> :not(caption)>*>* {
    padding: 10px 0px 10px 0px !important;
}

.paginationPrv {
    border-radius: 6px;
    background: #D17E06;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 13px;
}

.pag {
    color: #D17E06;
    font-size: 18px;
    padding: 13px 20px 13px 20px;
    font-weight: 500;
}

/* drag and Drop */

.borderbtm {
    border-bottom: 5px solid #13CF5E;
    border-radius: 30px;
}

.breaker {
    border-top: 1px solid #EFEFEF;
}

.fuTAQy {
    padding: 0px;
    border: none !important;
    border-radius: 6px;
}

.crd-btn {
    border-radius: 12px;
    background: #D17E06;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: none !important;
}

.bmAIfI {
    padding: 20px;
    border: none !important;
    border-radius: 6px;
}

.gIxNep {
    margin-bottom: 20px;
    border-radius: 12px;
    background: #D17E06;
    padding: 15px;
    color: #FFF;
    font-size: 19px;
    font-weight: 700;
}

.fEozAE {
    text-transform: none !important;
    margin-bottom: 20px;
    background: aquamarine;
    border-radius: 12px;
    background: #D17E06;
    padding: 15px;
    color: #FFF;
    font-size: 19px;
    font-weight: 700;
}

.jIuOwx {
    text-transform: none !important;
    margin-bottom: 20px;
    background: aquamarine;
    border-radius: 12px;
    background: #D17E06;
    padding: 15px;
    color: #FFF;
    font-size: 19px;
    font-weight: 700;
}

.irWVPi {
    padding: 20px !important;
    border-radius: 12px !important;
    background: #E9ECFF !important;
}

.eHIgBE {
    padding: 20px !important;
    border-radius: 12px !important;
    background: #E9ECFF !important;
}

.LgRxN {
    padding: 10px;
    border-radius: 12px !important;
    background: #E9ECFF !important;
}

.cardvlu {
    color: #C8C8C8 !important;
    font-size: 12px;
    font-weight: 600;
}

.eHIgBE {
    padding: 10px;
    border-radius: 6px;
    background: #d4d4d4;
}




/* Media Queriess  Start*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .pad-top {
        padding-top: 100px !important;
    }

    .w-25 {
        width: 75% !important;
    }

    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px !important;
    }

    .table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px !important;
    }

    .tHead {
        font-size: 14px;
    }

    .paginationPrv {
        font-size: 14px;
        padding: 6px;
    }

    .pag {
        font-size: 14px;
        padding: 10px 15px 6px 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px !important;
    }

    .table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px !important;
    }

    .w-25 {
        width: 85% !important;
    }

}

/* Medium devices (landscape tablets, 1024px ) */
@media screen and (max-width: 1024px) and (max-height: 1024px) {
    .DnDOvrflow {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .jIuOwx {
        width: 280px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}