.cartBG {
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(135deg, #D07E09 33.11%, #4653C8 100%);
    padding: 16px;
    color: #FFFFFF;
}

.addbtn {
    border-radius: 3px;
    background: #D17F0A;
    height: 17px;
    width: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
}