.dropdown-container {
    position: relative;
  }
  
  .dropdown-header {
    cursor: pointer;
    border: 1px solid #EBEBEB;
    padding: 8px;
    transition: border 0.3s;
    text-align: start;    
    font-size: 14px;
    color: #838F9B;
}
  
  .dropdown-list {
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%; /* Position it below the header */
    width: 100%;
    display: block;
    z-index: 1; /* Ensure it's above other content */
    text-align: start;    

  }
  
  .dropdown-list li {
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dropdown-list li:hover {
    background: #f0f0f0;
  }
  