.bghead {
    background: #F3F3F3;
    padding: 15px;
}

.refbtn {
    border-radius: 8px;
    background: #D17E06;
    padding: 10px;
    cursor: pointer;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.css-13cymwt-control {
    padding: 8px !important;
    border-radius: 8px !important;
}

.css-t3ipsp-control {
    padding: 8px !important;
    border-radius: 8px !important;
}

.section-contain {
    border-radius: 12px;
    background: #E9ECFF;
    padding: 10px;
}

.status-contain {
    border-radius: 8px;
    background: #D17E06;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}