.profilebox {
    border-radius: 8px;
    background: #D07E08;
    padding: 16px 96px 16px 22px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.Headtxt {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.headtxt2 {
    color: #969BA0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.profileimgbox {
    position: absolute;
    top: 11px;
    right: 31px;
    border: 4px solid #fff;
    border-radius: 34px;
}

.bg-body-tertiary {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.nav-active {
    border-bottom: 4px solid #D07E06;
    color: #D17E06 !important;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 4px;
}

.nav-link {
    color: var(--neutral-07, #2C2F24);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}