.active {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(135deg, #D17E06 38.54%, #2F4CDD 100%) !important;
    color: #FFFCFC;
}

.maon-BG {
    border-radius: 8px;
    background: #FFFCFC;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.25);
}