.nav-tabs{
    width: 100%;
    justify-content: space-around;
}
.payment_bar{
    background: linear-gradient(135deg, #D17E06 38.54%, #2F4CDD 100%) !important;
    border-radius: 12px 12px 0px 0px;
}
.head_c{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.icon-size{
    width: 30px;
    height:30px
}
.head-active{
   color: #D17E06;
}
.normal-head{
    color: #474A52;
    font-size: 14px;
}