.BG-Slider {
    width: 200px;
    background: antiquewhite;
    box-shadow: 0px 10px 40px 0px rgba(204, 208, 219, 0.50);
}

.text-center {
    text-align: center !important;
}

.main-txt {
    font-size: 20px;
    font-weight: 400;
}

.active {
    border-radius: 8px !important;
    background: linear-gradient(135deg, #D17E06 38.54%, #2F4CDD 100%) !important;
    color: #FFF !important;
    border: none !important;
}
.active a{
    color: #fff;
}
/* layoout */
.sidebar-layout {
    display: flex;
    align-items: stretch;
}

.sidebar {
    flex: 0;
    /* Fixed width for the sidebar, adjust as needed */
}

.content {
    flex: 1;
    /* Takes up remaining space */
}
.nav-link {
    text-decoration: none;

}
.nav-link h3 :active {
    color: #fff;

}
.nav-link svg{
    width: 35px !important;
    height: 35px !important;
}
.sidebar-Nav li{
    width: 100%;
}