.circle {
    border-radius: 11px;
    background: #D17E06;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.txtali {
    text-align: center;
    align-items: center;
}

.maintxt {
    color: #D17E06;
    font-size: 18px;
    font-weight: 500;
}

.smltxt {
    color: var(--natural-500, #667085);
    font-size: 14px;
    font-weight: 400;
}

.RSPBprogressBar .RSPBstep {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: sticky !important;
    transform: translateX(-50%);
    transition-property: all;
    transition-timing-function: ease;
}

.RSPBprogressBar {
    height: 10px;
    /* line-height: 1; */
    border-radius: 10px;
    position: relative;
    background-color: rgba(211, 211, 211, 0.6);
    display: flex;
    justify-content: start !important;
    align-items: center;
    z-index: 0;
}