.form-control {
  border-radius: 8px;
  border: 1px solid #AbA3A3;
  /* box-shadow: 0px 4px 4px -2px rgba(209, 126, 6, 0.80); */
  background-color: #e5e5e5 !important;
  padding: 15px !important;
}

.addItem-head {
  font-size: 24px;
  font-weight: 600;
}

.addMore-btn {
  border: 1px solid #d17e06;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px !important;
}

.form-label {
  font-size: 14px;
}

.padds {
  padding: 0px 50px;
}

.form-label {
  margin: 0px;
}

.addItem-btn {
  background-color: #d17e06;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px;
  width: 12%;
  border-radius: 10px;
}

.end {
  justify-content: end;
  display: flex;

}

.maon-BG {
  border-radius: 8px;
  background: #FFFCFC;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.nav-item-cat {
  align-items: center;
  display: flex;
  justify-content: center;
  background: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Media Queriess  Start*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .pad-top {
    padding-top: 100px !important;
  }

  .w-25 {
    width: 75% !important;
  }

  .padds {
    padding: 0px;
  }

  .w-75 {
    width: 100% !important;
  }

  .addItem-btn {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .w-25 {
    width: 85% !important;
  }

  .w-75 {
    width: 80% !important;
  }

  .addItem-btn {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1024px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .w-75 {
    width: 84% !important;
  }
}