.menu-item-card {
  border: 1px solid #d2cfcfbc;
  border-radius: 15px;
}

.special-discount-badge {
  position: absolute;
  background-color: #d17e06;
  border-radius: 0px 8px 8px 0px;
  padding: 4px 15px;
  margin-top: 10px;
}

.special-discount-badge {
  font-size: 9px;
  color: #fff;
}

.item-pic {
  width: 100%;
  height: 240px;
  object-fit: scale-down;
}

.edit-button {
  background-color: #d17e06;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d17e06;
  width: 100%;
  padding: 12px;
}

.delete-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #d17e06;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  padding: 12px;
}

.item-name {
  font-size: 16px;
  color: #2c2f24;
  text-align: center;
  font-weight: 500;
}

.item-des {
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}

.item-price {
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.min-top {
  margin-top: 35px;
}

.marginL-20 {
  margin-left: 20px;
}


.absolute {
  position: absolute;
  top: 28px;
  margin-left: 4.5%;
}

.addItems-btn {
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px !important;
  }

  .table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px !important;
  }

  .maon-BG {
    white-space: nowrap !important;
  }

  .maon-BG .overflow {
    overflow-x: auto !important;
  }

  .w-40 {
    width: 85% !important;
  }

  .pt-top {
    padding-top: 75px;
  }

  .absolute {
    position: absolute;
    top: 190px;
    margin-left: 21.5%;
  }

  .pad-topp {
    padding-top: 85px !important;
  }

  .Heads {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .SilverHeads {
    color: #969ba0;
    font-size: 16px;
    text-align: center;
  }
  .mbl-center{
    align-items: center;
    text-align: center;
    justify-content: center !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width : 992px) {

  .w-40 {
    width: 75% !important;
  }

  .maon-BG {
    white-space: nowrap !important;
  }

  .maon-BG .overflow {
    overflow-x: auto !important;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px !important;
  }

  .table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px !important;
  }

  .absolute {
    margin-left: 6.5%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .absolute {
    top: 10px;
    margin-left: 5% !important;
  }

  .addItems-btn {
    font-size: 12px;
  }

  .w-40 {
    width: 50%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .item-pic {
    width: 100%;
    height: 240px;
    object-fit: scale-down;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px !important;
  }

  .table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px !important;
  }

}

