.SubHead{
    font-size: 18px;
    color: #191919;

}
.SubHea2{
    font-size: 16px;
    color: #191919;

}
.Head{
    font-size: 32px;
    font-weight: bold;
    color: #191919;

}
.Head2{
    font-size: 32px;
    color: #191919;

}
.rating{
    font-size: 24px;
    color: #d17e06;
}
.list{
    font-size: 18px;
    color: #191919;
    line-height: 1.ch;
}
.img-border{
    border: 1px solid #d17e06;
    
}
.active{
    border: 1px solid #d17e06;

}
.size-btn{
    font-size: 18px;
    border: 1px solid #d17e06;

}
.unActive{
color: #6F6F6F;
font-size: 18px;
}