.brder {
    border-radius: 12px;
    border: 1px solid #D7D7D7;
}

.income {
    color: #0F0F0F;
    font-size: 40px;
    font-weight: 600;
}

.ptyName {
    color: #3E4954;
    font-size: 16px;
    font-weight: 500;
}